<h1><%= @party.name %></h1>
<% @adventurers.each do |adventurer| %>
  <h2><%= adventurer.name %></h2>
  <h3>Level <%= adventurer.level %></h3>
  <h3>Alive: <%= adventurer.alive %></h3>
<% end %>
<%= link_to 'Create New Adventurer', "/parties/#{@party.id}/adventurers/new" %>
<%= link_to 'Sort Adventurers', :sort => :name %>